<%= link_to 'Back', posts_path %>

<div class="container">
	<div class="row fluid">
		<div class="col-md-8">
			<div class="panel panel-default">
				<p class="center h3">
					<%= @post.title %>
				</p>

			<div class="ad-header">
				<p>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- isoa1 -->
					<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5693184430623789"
			     data-ad-slot="3991962985"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</p>
			</div>	

			<div class="panel-body center">
					<%= image_tag @post.photo.url, class: "post-image" %>
					<p><%= @post.description %></p>
			</div>

			<div class="ad-footer">
				<p>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- isoa1 -->
					<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5693184430623789"
			     data-ad-slot="3991962985"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</p>
			</div>

			<div class="sharing-options">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style">
							<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
							<a class="addthis_button_tweet"></a>
							<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal" pi:pinit:url="http://www.addthis.com/features/pinterest" pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
							<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
							<a class="addthis_counter addthis_pill_style"></a>
					</div>
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5264915312c3dfc7"></script>
						<!-- AddThis Button END -->
			</div>

				<% if @post.user == current_user %>
					<%= link_to edit_post_path(@post) do %>
		       <span class="glyphicon glyphicon-edit"></span>
		     		Edit 
		      <% end %>
		    <% end %>
			</div>
		</div>

		<div class="col-md-4 sidebar">
			<div class="panel panel-default">

				<div class="ad-sidebar">
					<p><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- 300x250default -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:300px;height:250px"
							     data-ad-client="ca-pub-5693184430623789"
							     data-ad-slot="5468696184"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
					</p>
				</div>
				<div class="facebook">
					<div class="fb-like-box" data-href="http://www.facebook.com/Loomin8" data-width="300" data-height="250" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
				</div>
				<div class="email-sub">
					<p>Email sub box</p>
				</div>

			</div>
		</div>

	</div>
</div>