<%= link_to 'Back', posts_path %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<p class="center h3">
					<%= @post.title %>
				</p>

			<div class="ad-header">
				<p>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- isoa1 -->
					<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5693184430623789"
			     data-ad-slot="3991962985"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</p>
			</div>	 
			<div class="panel-body center">
				<%= image_tag @post.photo.url %>
				<p><%= @post.description %></p>
			</div>

			<div class="ad-footer">
				<p>
					<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- isoa1 -->
					<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5693184430623789"
			     data-ad-slot="3991962985"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
				</p>
			</div>

			<div class="sharing-options">
				<p class="center">Sharing options go here</p>
			</div>

				<% if @post.user == current_user %>
					<%= link_to edit_post_path(@post) do %>
		       <span class="glyphicon glyphicon-edit"></span>
		     		Edit 
		      <% end %>
		    <% end %>
			</div>
		</div>

		<div class="col-md-4 sidebar">
			<div class="panel panel-default">

				<div class="ad-sidebar">
					<p>Insert Ad Code</p>
				</div>
				<div class="facebook">
					<p>Facebook Like Box</p>
				</div>
				<div class="email-sub">
					<p>Email sub box</p>
				</div>

			</div>
		</div>

	</div>
</div>