<%= link_to 'Back', posts_path %>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<p class="center h3">
					<%= @post.title %>
				</p>

			<div class="ad-header">
				<p>Insert Ad Code</p>
			</div>	 
			<div class="panel-body center">
				<%= image_tag @post.photo.url %>
				<p><%= @post.description %></p>
			</div>

				<% if @post.user == current_user %>
					<%= link_to edit_post_path(@post) do %>
		       <span class="glyphicon glyphicon-edit"></span>
		     		Edit 
		      <% end %>
		    <% end %>
			</div>
		</div>

		<div class="col-md-4 sidebar">
			<div class="panel panel-default">

				<div class="ad-sidebar">
					<p>Insert Ad Code</p>
				</div>
				<div class="facebook">
					<p>Facebook Like Box</p>
				</div>
				<div class="email-sub">
					<p>Email sub box</p>
				</div>

			</div>
		</div>

	</div>
</div>